asgiref==3.6.0
cfgv==3.3.1
distlib==0.3.6
Django==3.2.18
django-environ==0.9.0
feedparser==6.0.10
feedreader==0.3.1
filelock==3.9.0
gunicorn==20.1.0
identify==2.5.18
importlib-metadata==6.0.0
lxml==4.9.2
nodeenv==1.7.0
platformdirs==3.0.0
pre-commit==2.21.0
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
sgmllib3k==1.0.0
six==1.16.0
sqlparse==0.4.3
typing_extensions==4.5.0
virtualenv==20.19.0
zipp==3.14.0
